table, tr, td, th {
    border: 1px solid black;
}
.fonter{
    margin: 60px;
    font-size: 100%;
    text-align: center;
    border-left: 3px solid firebrick;
    padding: 38px;

    background-color: lightgray;
}
body {

    max-width: 90%;
    margin: auto;
    background: -webkit-radial-gradient(rgba(149,154,0,0.8),rgba(126,0,110,0.8));
}